extends base

block content 
    div 
        video#preview
        button#startBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="POST" enctype="multipart/form-data")
        label(for="video") Video File
        input(name="video" type="file" id="video" accept="video/*" required)
        input(name="title", placeholder="Title", requried, type="text", maxlength=100)
        input(name="description", placeholder="Description", requried, type="text", maxlength=100)
        input(name="hashtags", placeholder="Hashtags, seperated by comma", requried, type="text")
        input(type="submit", value="Upload video")
block scripts 
    script(src="/assets/js/recorder.js") 