extends base.pug

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="title", placeholder="Title", requried, type="text", maxlength=100)
        input(name="description", placeholder="Description", requried, type="text", maxlength=100)
        input(name="hashtags", placeholder="Hashtags, seperated by comma", requried, type="text")
        input(type="submit", value="Upload video")