nav
    ul 
        if loggedIn
            li 
                a(href="/logout") Logout 
            li 
                a(href="/myprofile") Hello~! #{loggedInUser.name}
        else
            li
                a(href="/join") Join
            li 
                a(href="/login") Login
        li
            a(href="/videos/upload") Upload Video
        li
            a(href="/") Home
        li
            a(href="/search") Search